@import url(https://fonts.bunny.net/css?family=anek-devanagari:100,400|bevan:400);


body {
  background-color: #496989;;
  text-align: center;
}

h1 {
  font-family: 'Bevan', sans-serif;
  text-transform: uppercase;
  font-size: 50px;
  letter-spacing: 5px;
  color: #F49E4C;
  /* background-color: #58A399; */
  border-radius: 5px;

}

h2 {
  font-family: 'Anek Devanagari', sans-serif;
  font-size: 25px;  
  font-weight: bold;
  color: #fff;

}

p {
  font-family: 'Anek Devanagari', sans-serif;
  font-size: 20px;
  color: #fff;
}

.bingo-board {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 1rem;
  padding: 2rem;
  margin-bottom: 2rem;
  border-radius: 5px;
  background-color: #58A399;
}

.bingo-board div {
  border: 1px solid #fff;
  padding: 10px;
  text-align: center;
}

.bingo-cell {
  display: flex; /* Utilisation de flexbox */
  align-items: center; /* Centrage vertical */
  justify-content: center; /* Centrage horizontal */
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 10px;
  color: #fff;
  font-family: 'Anek Devanagari', sans-serif;
  font-size: 18px;
  text-align: center;
  
  cursor: pointer;
}

.checked {
  background-color: #A8CD9F;
  color: #fff;
  text-decoration: line-through;
}

@media screen and (max-width: 768px) {
  .bingo-board {
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); /* Ajuste les colonnes pour les écrans de taille moyenne */
  }
}

@media screen and (max-width: 480px) {
  .bingo-board {
      grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); /* Ajuste les colonnes pour les petits écrans */
  }
}